.usersContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

@media (max-width: 500px) {
  .usersContainer {
    grid-template-columns: 1fr;

    margin: 1rem;
  }
}
